<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu
      lectus.</p>
  </div><!--//intro-->

  {% for project in site.projects %}
  <div class="item">
    <span class="project-title"><a href={{project.link}}>{{project.name}}</a></span> -
    <span class="project-tagline">{{project.description}}</span>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->